@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
}

.body {
  font-family: "Roboto Condensed" sans-serif;
}

/*******************NAVBAR******************/

.logo {
  width: 260px;
}

nav a.navbar-brand {
  text-transform: uppercase;
  color: var(--primary-white) !important;
  /* 
  max-width: 50px;
  padding: 0 !important; 
  height: 50px;
  */
}

nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.6px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 12px;
  margin-left: 12px;
  color: var(--primary-white) !important;
  border-top: 3px solid var(--primary-dark);
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 3px solid darkred;
}

.navbar-nav > li > a:hover {
  border-top: 3px solid darkred;
}
