@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: #2b2b2b;
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-light-grey: #dbdbdb;
  --primary-dark-red: #8b0000;
  --secondary-red: #e28080;
}

.body {
  font-family: "Roboto Condensed", sans-serif !important;
}

/*******************NAVBAR******************/
nav {
  z-index: 2;
}
.logo {
  width: 260px;
}

nav a.navbar-brand {
  text-transform: uppercase;
  color: var(--primary-white) !important;
  /* 
  max-width: 50px;
  padding: 0 !important; 
  height: 50px;
  */
}

nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.6px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 12px;
  margin-left: 12px;
  color: var(--primary-white) !important;
  border-top: 3px solid var(--primary-dark);
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 3px solid var(--primary-dark-red);
}

.navbar-nav > li > a:hover {
  border-top: 3px solid var(--primary-dark-red);
}

.container {
  height: 6vh;
}

/**********HEADER**********/

.header-wrapper {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("Resources/header-background.jpg");
  background-size: cover;
  background-position: center;
  height: 94vh;
}

.profilepic {
  max-width: 25%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 50%;
  border: 1px solid #ddd;
  z-index: 1;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.main-info h1 {
  color: var(--primary-white);
  text-transform: uppercase;
  font-size: 70px;
}

.typed-header {
  color: var(--primary-white);
  font-size: 40px;
}

.get-started-button {
  border: 1px solid var(--primary-dark-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 12px 12px 12px;
  color: var(--primary-white);
  margin: 30px;
  z-index: 2;
}

.get-started-button:hover {
  text-decoration: none;
  background-color: var(--primary-dark-red);
  transition: 0.2s ease-in-out;
  color: var(--primary-white);
}
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

/***********About Me***********/

.about-me-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("Resources/about-me-background.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.about-pic {
  max-width: 60%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-text {
  color: var(--primary-white);
  font-family: "Roboto Condensed", sans-serif !important;
}

.about-header {
  text-transform: uppercase;
  color: var(--primary-white);
  font-family: "Roboto Condensed", sans-serif !important;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

.photo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/***********Services***********/

.services {
  font-family: "Roboto Condensed", sans-serif !important;
  text-align: center;
  padding-bottom: 20px;
  background: var(--primary-light-grey);
  height: 90vh;
}

.services h1 {
  color: var(--primary-dark);
  text-transform: uppercase;
}

.services .circle {
  position: relative;
  margin: 10px auto;
  background: var(--primary-dark-red);
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.services .service-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-light-grey);
}

.services .box {
  height: 200px;
  border-bottom: 5px solid var(--primary-dark-red);
  background: var(--primary-white);
  margin-bottom: 20px;
  padding: 10px;
}

.services .box:hover {
  background: var(--secondary-red);
}

@media (max-width: 768px) {
  .particles-bg-header {
    display: none;
  }

  .main-info h1 {
    font-size: 70px !important;
  }

  .about-pic {
    max-width: 20%;
    align-items: center;
  }
}

@media (max-width: 468px) {
  .about-pic {
    max-width: 20%;
    align-items: center;
  }
}
